<div class='product-details'>
    <div class="productFoto">
        <img src='{{product?.image}}'>
    </div>
    <div class="productInfo">
        <h3>{{product?.title}}</h3>
        <p>{{product?.price | currency:'USD'}}</p>
        <p>Розміри: S, M, L, XL</p>
        <button class="buyButton" type="button" routerLink='/basket' (click)='addToBasket()'>Купити</button>
        <h4>Умови повернення та обміну</h4>
        <p>Компанія здійснює повернення і обмін цього товару відповідно до вимог законодавства.</p>
        <h4>Терміни повернення</h4>
        <p>Повернення можливе протягом 14 днів після отримання (для товарів належної якості).

            Зворотня доставка товарів здійснюється за домовленістю.
            
            Якщо куплена річ Вам не підійшла - Ви можете повернути або обміняти протягом 2 днів! 
            (за умови збереження її первісного вигляду). Більш тривалий термін повернення товару класифікується 
            як його використання і такий товар до повернення не приймається. Гроші покупцеві повертаються зручним
             для нього способом після того, як товар, що повертається, буде нами отримано і перевірений! Повернення
             або обмін відбувається за рахунок покупця. В разі заводського браку, витрати за транспортування 
             оплачуються магазином</p>
    </div>
</div>
