<div class='kupalniki'>
    <h1>Жіночі купальники</h1>
    <p>Пошук нового купальника – це хвилююча підготовка до літа. Вибір залежить від особистих уподобань, 
        ступеня закриття тіла, відчуття комфорту. Від яскравих принтованих варіантів до класичних моделей 
        знайдіть те поєднання, яке допоможе вам почуватися бездоганною.</p>
    <p>Купальники поділяються на два основні види: цілісні та роздільні. Якщо ви активні, пірнаєте під хвилі,
         зверніть увагу на відрядний купальник. Він виготовлений із міцної та щільної тканини, забезпечує зручність 
         при плаванні та підходить будь-якому типу фігури. Похід в аквапарк або пляжний волейбол - цілісний варіант 
         не сповзе і не розв'яжеться у невідповідний момент. Любителькам погрітися під сонцем, мати гарну і рівну 
         засмагу рекомендуємо роздільний купальник.</p>
</div>