<div class='penuars'>
    <h1>Пеньюари та еротичні сорочки</h1>
    <p>Для любительок класики рекомендуємо звернути увагу на сорочки. Сексуальні сорочки підкреслюють красу жіночого тіла, не 
        стискають рухів і не заважають сну. Всі вони, як правило, мають глибоке декольте і щільно облягають груди. 
        Сорочки прикрашають мереживом, вишивкою та кокетками, низ – воланами, мереживом чи оборкою. Серед багатьох квітів і фасонів 
        кожна дівчина обов'язково підбере той, який їй найбільше підходить. Вибір лише за вами!</p>
    <p>Сміливішим дівчатам слід розглянути бебідоли. Сама назва вже говорить про трохи ляльковий стиль. Вільний низ, що розлітається, 
        завищена талія, м'який ліф – ось у чому його відмінність. Разом із сукнею, як правило, продають сексуальні трусики такого ж кольору 
        та фасону. Матеріалами для бебідолу є шифон, атлас, шовк.</p>
</div>