<footer>
    <div class="aboutUs">
        <h2>Про нас</h2>
        <ul>
            <li><a routerLink='' >Інформація про компанію</a></li>
            <li><a routerLink='' >Умови використання сайту</a></li>
            <li><a routerLink='' >Робота</a></li>
        </ul>
    </div>
    <div class="contacts">
        <h2>Контакти</h2>
        <p>+3 (063) 678-76-534</p>
        <p>+3 (067) 008-75-111</p>
        <p>+3 (050) 008-76-555</p>
        <a routerLink="">support&#64;eclipse.ua</a>
    </div>
    <div class="Help">
        <h2>Допомога</h2>
        <ul>
            <li><a routerLink=''>Доставка та оплата</a></li>
            <li><a routerLink=''>Гарантія</a></li>
            <li><a routerLink=''>Повернення товару</a></li>
            <li><a routerLink=''>Сервісні центри</a></li>
        </ul>
    </div>
    <aside>
        <h2>Ми в соцмережах</h2>
        <a routerLink=''><img src="../../../../assets/twitter.jpg"></a>
        <a routerLink=''><img src="../../../../assets/instagram.jpg"></a>
        <a routerLink=''><img src="../../.././/../assets/facebook.jpg"></a>
    </aside>
</footer>
<p class="license">© 2010 - 2024 ТОВ «Eclipse». Всі права захищені.</p>
