<div class='panchohu'>
    <h1>Жіночі панчохи</h1>
    <p>При виборі панчох і колготок важливо враховувати стиль одягу, з яким ви їх носитимете. Для суворого офісного 
        дрес-коду підійдуть тілесні, для вечірніх виходів – класичні чорні. Щоб додати акцент у повсякденний образ,
         сміливо вибирайте панчохи незвичайних відтінків чи фантазійні колготки. Якщо хочете візуально підтягнути 
         фігуру, зверніть увагу на коригувальні. У нашому магазині є всі розміри – від першого до сьомого.</p>
    <p>Велика різноманітність панчох дозволяє вибрати моделі для будь-якої події та стилю. Вони створюють модний 
        образ, додають естетики. Відмінно впишуться у повсякденний, діловий та романтичний гардероб. Далі дізнаємось 
        х види та розглянемо відмінності в дизайні.</p>
    <ul class="productsList">
        <ng-container *ngFor="let item of panchohuList">
            <li>
                <app-product-catd [product]="item"></app-product-catd>
            </li>
        </ng-container>
    </ul>
</div>